<!DOCTYPE html>
<html>
<head>
    <title>Project Page</title>
    <link rel="stylesheet" type="text/css" href="profile.css">
</head>
<body>
    <header class="header">
        <div class="header-content">
            <div class="site-branding">
                <h1>ManagerPro</h1><small>A Simple Project Manager</small>
            </div>

            <nav class="menu-nav">
                <ul>
                    <li><a href="#">Home</a></li>
                     <li><a href="profile.html">Profile</a></li>
                    <li><a href="#">Logout</a></li>
                </ul>
            </nav>
         </div>
    </header>
    <div class="content">
        <div class="profile-sidebar">
             <div class="profile-header">
                <div class="profile-header-image">
                    <img src="cute.jpg">
                    <h1 class="project-title">Project & Placement Management</h1>
                </div>
            </div>

            <div class="sidebar-widget">
                <h1 class="widget-title">Developers</h1>
                <ul>
                     <li>Bikash Thapa <small>1ST16CS710</small></li>
                     <li>Abhinav Kumar <small>1ST16CS700</small></li>
                </ul>
            </div>

            <div class="sidebar-widget">
                <h1 class="widget-title">Mentors</h1>
                <ul>
                    <li>Mrs Soumya Belagi <small>Associate Professor</small></li>
                     <li>Mr Ragava R. <small>Associate Professor</small></li>
                </ul>
            </div>

            <div class="sidebar-widget">
                 <ul>
                    <li><a href="#">Ask Questions</a></li>
                    <li><a href="#">New Updates</a></li>
                    <li><a href="#">Follow Projects</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>

        </div>
       

 <!--   <div class="profile-header-info">
                <p>Title: <span class="profile-header-text">Placement & Training Management System</span></p>
                <p>Members: <span class="profile-header-text">Abhinav Kumar,Vishal Kumar</span></p>
                <p>Mentors: <span class="profile-header-text">Mrs. Sowmya B.</span></p>
                <p>Department:  <span class="profile-header-text">Computer Science</span></p>
            </div> -->

       <!--  <div class="profile-sidebar">
                <ul>
                    <li><a href="#">Ask Questions</a></li>
                    <li><a href="#">New Updates</a></li>
                    <li><a href="#">Follow Projects</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
        </div> -->

        <div class="profile-details">
            <div class="section-details">
                 <h1>Introduction</h1>
                 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                 tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                 quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                 consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                 cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                 proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
           
            <div class="section-details">
                 <h1>Objectives</h1>
                 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                 tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                 quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                 consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                 cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                 proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>

             <div class="section-details">
                 <h1>Database Schema</h1>
                 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                 tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                 quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                 consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                 cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                 proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>

             <div class="section-details">
                 <h1>Specifications</h1>

                 <div class="mini-section">
                     <h3>Front-End</h3>
                      <ul>
                         <li>HTML5</li>
                         <li>CSS3</li>
                         <li>JavaScript</li>
                     </ul>
                 </div>

                 <div class="mini-section">
                     <h3>Backend</h3>
                      <ul>
                         <li>Python</li>
                         <li>Django</li>
                         <li>MySQL</li>
                     </ul>
                 </div>
            </div>

             <div class="section-details">
                 <h1>Requirements</h1>
                 <ul>
                     <li>Operating System: </li>
                     <li>Python: </li>
                     <li>Django : </li>
                     <li>MySQL: </li>
                 </ul>
            </div>
        </div>


     </div>
     <div class="clearFix"></div>
     <div class="footer">
            <div class="footer-content">
                <div class="footer-text">
                     <p>&copy; All Rights Reserved | Made With <span class="black">&#10084;</span></p>
                </div>

                <div class="footer-menu">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Support</a></li>
                        <li><a href="#">Developers</a></li>
                    </ul>
                </div>
            </div>
         
     </div>
</body>
</html>