<!DOCTYPE html>
<html>
<head>
    <title>Project Page</title>
    <link rel="stylesheet" type="text/css" href="profile.css">
</head>
<body>
    <header class="header">
        <div class="header-content">
            <div class="site-branding">
                <h1>ManagerPro</h1><small>A Simple Project Manager</small>
            </div>

            <nav class="menu-nav">
                <ul>
                    <li><a href="index.html">Home</a></li>
                     <li><a href="#">Profile</a></li>
                    <li><a href="#">Logout</a></li>
                </ul>
            </nav>
         </div>
    </header>
    <div class="content">
        <div class="profile-sidebar">
             <div class="profile-header">
                <div class="profile-header-image">
                    <img src="cute.jpg">
                    <h1 class="project-title">Bikash Thapa <small>@1ST16CS710</small></h1>
                </div>
            </div>

            <div class="sidebar-widget">
                <h1 class="widget-title">Details</h1>
                <ul>
                     <li>Section<small>C</small></li>
                     <li>Department <small>Computer Science & Engineering</small></li>
                     <li>College<small>Sambhram Institute Of Technology</small></li>
                </ul>
            </div>

            <div class="sidebar-widget">
                <h1 class="widget-title">Mentors</h1>
                <ul>
                    <li>Mrs Soumya Belagi <small>Associate Professor</small></li>
                     <li>Mr Ragava R. <small>Associate Professor</small></li>
                </ul>
            </div>

            <div class="sidebar-widget">
                 <ul>
                    <li><a href="#">Ask Questions</a></li>
                    <li><a href="#">New Updates</a></li>
                    <li><a href="#">Follow Projects</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>

        </div>
       

        <div class="profile-details">

            <div class="section-details">
               
                   <!--  <textarea class="post-text-area" name="post"></textarea> -->
                    <button class="post-button btn">Create New Project</button>
                    <button class="post-button btn">Discussion</button>
                    <button class="post-button btn">Edit Profile</button>
               
            </div>

            <div class="section-details">
                 <h1>Recent Projects</h1>
                 <div class="mini-section project">
                    <div class="project-img">
                        <img src="angel.jpg">
                    </div>
                    <div class="details">
                         <h4><a href="page.html">Project & Placement Management</a></h4><small>Date: 2018-02-18</small>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                    </div>
                    <div class="clearFix"></div>
                    <ul>
                        <li><a href="#">Star</a></li>
                        <li><a href="#">Discuss</a></li>
                        <li><a href="#">Source Code</a></li>
                    </ul>
                 </div>

                <div class="mini-section project">
                    <div class="project-img">
                        <img src="cute.jpg">
                    </div>
                    <div class="details">
                         <h4><a href="page.html">Rental Home Management</a></h4><small>Date: 2018-03-02</small>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                    </div>
                    <div class="clearFix"></div>
                    <ul>
                        <li><a href="#">Star</a></li>
                        <li><a href="#">Discuss</a></li>
                        <li><a href="#">Source Code</a></li>
                    </ul>
                 </div>

                <div class="mini-section project">
                    <div class="project-img">
                        <img src="bg.png">
                    </div>
                    <div class="details">
                         <h4><a href="page.html">Project Management System</a></h4><small>Date: 2019-02-18</small>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                    </div>
                    <div class="clearFix"></div>
                    <ul>
                        <li><a href="#">Star</a></li>
                        <li><a href="#">Discuss</a></li>
                        <li><a href="#">Source Code</a></li>
                    </ul>
                 </div>
            </div>
           
            
        </div>


     </div>

     <div class="footer">
            <div class="footer-content">
                <div class="footer-text">
                     <p>&copy; All Rights Reserved | Made With <span class="black">&#10084;</span></p>
                </div>

                <div class="footer-menu">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Support</a></li>
                        <li><a href="#">Developers</a></li>
                    </ul>
                </div>
            </div>
         
     </div>
</body>
</html>