{%extends 'accounts/base.html'%}
  
{% block content%}
  
  <div class="content set-height">

      <div id="head">
        <button onclick="display_student();">Student</button><button onclick="display_teacher();">Mentor</button>
      </div>
       <div class="signup">
          <div class="signup-form">
               <form method="post" action=".">
                  {% csrf_token %}
                  <div id="student_content" style="">
                      <h1 class="form-title">Create Student Account</h1>
                      
                      <code style="color: red;"> {{err}} </code>
                      <p>
                        <input type="text" name="usn" placeholder="ex. 1st16cs710">
                      </p>
                      <p>
                         <input type="email" name="email" placeholder="Email">
                      </p>

                      <p>
                        <input type="password" name="password" placeholder="Password">
                      </p>
                      <p>
                        <input type="password" name="rpassword" placeholder="Confirm Password">
                      </p>
                       
                      <input type="hidden" name="is_student" value="1">
                      <input type="hidden" name="is_mentor" value="0">

                     <p> <button class="signup-button btn">Create Account</button> or <a href="{% url 'login' %}">Login</a></p>

                    </div>

                  </form>

                  <form method="post" action=".">
                  {% csrf_token %}
                    <div id="teacher_content" style="display:none;">
                        <h1 class="form-title">Create Mentor Account</h1>
                         <p>
                        <input type="text" name="username" placeholder="ex. sowmya11">
                      </p>
                      <p>
                         <input type="email" name="email" placeholder="Email">
                      </p>

                      <p>
                        <input type="password" name="password" placeholder="Password">
                      </p>
                      <p>
                        <input type="re-password" name="rpassword" placeholder="Confirm Password">
                      </p>
                      <input type="hidden" name="is_mentor" value="1">
                      <input type="hidden" name="is_student" value="0">

                         <p> <button class="signup-button btn">Create Account</button> or <a href="{% url 'login' %}">Login</a></p>
                        </div>

                  </form>
          </div>
       </div>


     </div>
  
{%endblock%}