@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');
body {
    margin: 0;
    padding: 0;
    background: #fff;
    /*background: url('bg.png') no-repeat ,#e4e4e4;*/
    background-position: center;
    background-attachment: fixed;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-weight: 400;
}
html {
   font-family: 'Ubuntu Condensed', sans-serif;
}
img {
    width: 100%;
}
button {
    cursor: pointer;
}
.set_width {
    max-width: 1045px;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.clearFix {
    content: "";
    clear: both;
    display: block;
}
.black{
    color: #111;
}
.header {
    /*background: #2196F3;*/
    /*background-image: linear-gradient(to bottom,#000000bd,#000000ad),url(images/home-bg.jpg);*/
    padding: 0.5rem;
    overflow: hidden;
    /*box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);*/

}

.login-header {
    background: transparent;
}
.header-content {
     margin: auto;
    max-width: 1024px;
}

.site-branding {
   float: left;
   width: 30%;
}
.site-branding a {
    color:#fff;
    text-decoration: none;
}

.site-branding h1 {
    margin: 0;
    color: #fff;
    font-size: 25px;
}

.site-branding small {
    color: #fff;
}

.sub-title {
  font-family: inherit;
  font-size: 6rem;
  letter-spacing: 1rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
  color: #fff;
  animation-name: moveInLeft;
  animation-duration: 2s;
  animation-timing-function: ease-out; }

.main-title {
  font-size: 2rem;
  letter-spacing: 1rem;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 5rem;
  animation: moveInRight 2s ease-out; }
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    transform: translateX(-10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveIn {
  0% {
    opacity: 0;
    transform: translateY(100px); }
  100% {
    opacity: 1;
    transform: translate(0); } }
.menu-nav {
    float: right;
    width: 70%;
}
.menu-nav ul {
    list-style: none;
    float: right;
}
.menu-nav ul li {
    display: inline-block;
    /*margin-right: 5px;*/
}

.menu-nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.3rem;
}

.menu-nav ul li:not(:last-child){
    margin-right: 1em;
}
.home_info h2 {
    margin: 0;
    text-transform: uppercase;
    color: #fff;
    font-size: 4rem;
    font-family: inherit;
    letter-spacing: 15px;
    opacity: 1;
}
.home_info h3 {
    margin:8px;
    z-index: 5;
    font-size: 27px;
    font-weight: 700;
    color: #fff;
    line-height: 38px;
    letter-spacing: 4px;
    opacity: 1;
    text-transform: uppercase;
    font-weight: 300;
}

.home_info p {
    color: #fff;
}

.home_details {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.home_content {
    margin: auto;
    max-width: 1045px;
}
.btns {
    overflow: hidden;
    margin-top: 2rem;
    padding: 2rem;
    position: relative;
}
.btns a {
    text-decoration: none;
    color: #fff;
    background: #2496f3;
    padding: 15px 30px;
    border-radius: 3px;
    font-size: 18px;
    letter-spacing: 3px;
}
.h_title {
    border-bottom: 1px solid;
}



.content {
/*    margin: auto;
    max-width: 1045px;*/
    padding: 10px;
    position: relative;
    height: auto;
    display: block;
    overflow: hidden;
    background: #fff;
    
}
.set-height {
    min-height: 82vh;
    background: transparent;
}
/*Home Page Content styles*/
.box_content {
    overflow: hidden;
}
.box {
    width: 49%;
    float: left;
}

.box .one {
    margin-right: 1%;
}
.fa-users {
    font-size: 23px;
    margin-right: 5px;

}
.h_title {
    margin-bottom: 3rem;
    letter-spacing: 3px;
}
.features_header h3 {
    font-size:24px;
    margin: 0; 
}

.features_content {
    padding: 1rem;
    margin-bottom: 1rem;
}
.proj_content {
    margin:auto;
    max-width: 1045px;
    color: #fff;
    font-family: inherit;
}
.proj {
    /*background-image: linear-gradient(to bottom,#000000bd,#000000ad),url('images/home-bg.jpg');*/
    background-size: cover;
    padding: 1rem;
}
.proj_box_content {
    overflow: hidden;
}
.pro_box {
    width: 23%;
    float: left;
    margin-right: 2%;
    position: relative;
}
.pro_box img {
    border-radius: 5px;
    height: 150px;
}

.pro_box.fourth {
    margin-right: 0;
}

.pro_title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    visibility: hidden;

}
.pro_title h5 {
    font-size: 18px;
    background: #0000003b;
    padding: 1rem;
    width: 100%;
}

.pro_box:hover .pro_title {
    opacity: 1;
    visibility: visible;
    transition: all 1s;
}

/*Home Page Content styles*/

.profile-header {
    background: #fff;
    padding: 5px;
}
.profile-header p {
    color :#2496f3;
    font-weight: 400;
    font-size: 18px;
}
.profile-header-text {
    color: #000;
    font-size: 17px;
    font-weight: 300;
}
.profile-header-image img {
  width: 100%;
}

.profile-details {
    float: left;
    width: 69%;
    background: #fff;
    padding: 1rem;
    border-radius: 5px 5px 0px 0px;
    margin-left: 1%;
    min-height: 85vh
}

.project-title {
    font-size: 20px;
    padding: 5px;
    color: #2496f3;
     border-radius: 5px 5px 0px 0px;
}
.project-title small {
    display: block;
    color: #000;
    font-size: 14px;
}

.profile-sidebar {
    overflow: hidden;
    width: 25%;
    float: left;
    border-radius: 5px 5px 0px 0px;
}

.sidebar-widget {
    margin-top: 1rem;
    background: #fff;
   
}
.sidebar-widget p {
    padding: 1rem;
}

.sidebar-widget:first {
     border-radius: 5px 5px 0px 0px;
}
.sidebar-widget ul li small {
    display: block;
}

.widget-title {
    margin: 0;
    font-size: 20px;
    background: #000;
    color: white;
    text-align: left;
    padding: 5px;
}

.profile-sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.profile-sidebar ul li {
    padding: 10px;
    border-bottom: 1px solid #2bb0e7;
}

.profile-sidebar ul li a {
    color: #2496f3;
    text-decoration: none;
    font-size: 18px;
}
.section-details h1 {
    border-bottom: 1px solid;
    font-family: sans-serif;
    font-size: 20px;
    color: #2496f3;
}
.section-details p {
    font-family: 18px;
    text-align: left;
}

.section-details h3 {
    border-bottom: 1px solid;
    font-family: sans-serif;
    font-size: 20px;
    color: #2496f3;
}
.mini-section {
    margin-left: 2rem;
    margin-bottom: 1rem;
}
.mini-section code {
    display: block;
    font-size: 12px;
}
.mini-section b {
    font-size: 20px;
    font-weight: 500;
    display: block;

}
.mini-section ul, .schema p ,.section-details ul{
    white-space: pre-line;
    text-transform: uppercase;
}

.post-text-area {
    width: 100%;
    height: 100px;
}

.post-button {
    

}

.project .project-img {
    width: 30%;
    float: left;
}
.project-img img {
    height: 145px;
}
.project .details {
    width: 69%;
    float: left;
    margin-left: 1%;
}

.project .details h4 {
    margin: 0;
}
.project ul {
    list-style: none;
    margin: 0;
    padding: 0;
    white-space: inherit;

}

.project ul li  {
    display: inline-block;
    margin-right: 2rem;
    font-size: 18px;
}

.project ul li  a, .project ul li  a:visited {
    text-decoration: none;
    color: darkblue;

}

.details a {
    text-decoration: none;
    color: darkblue;
}


.footer {
    background: #2496f3;
    padding: 1rem;
    color: #fff;
    box-shadow: 2px 0px 2px 2px rgba(0,0,0,0.16), 2px 0 0 1px rgba(0,0,0,0.08);

}
.login-footer {
    background: transparent;
    box-shadow: none;

}
.footer-content {
    margin: auto;
    max-width: 1024px;
    overflow: hidden;
}
.footer-text {
    float: left;
    width: 40%;
}

.footer-menu {
    float: right;
    width: 60%;
}
.footer-menu ul {
    list-style: none;
    display: inline-block;
    float: right;
}

.footer-menu ul li {
    display: inline-block;
    margin-right: 5px;
}

.footer-menu ul li a {
    text-decoration: none;
    color: #fff;
}

.home {
    padding: 0;
    margin: 0;
    max-width: initial;   
}
.home_info {
    height: 83vh;
}


/*Signup form start*/
#head {
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translateX(-50%);
}

#head button {
    border: none;
    background:#2496f3;
    color: #fff;
    padding: 1rem;
    font-family: inherit; 
}
#head button:focus {
    background: #000;
    color: #fff;
}
.login {
    background-image: linear-gradient(to bottom,#000000bd,#000000ad),url(images/home-bg.jpg);
    margin:0;
    max-width: 100%;
    background-position: top;
    background-size: cover;
}

.signup  {
    border-radius: 5px;
    background: #fff;
    padding: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: auto;
    box-shadow: 0px 2px 19px 8px rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

.signup-form input {
    display: block;
   padding: 10px;
    border: 1px solid cadetblue;
    outline: none;
    font-size: 15px;

}

.signup-form p input {
    display: inline;
}

.signup-form input:Not(:last-child){
    margin-bottom: 0.5rem;
}
.signup-form label {
    font-family: sans-serif;
    font-size: 14px;
    color: #2496f3;
    display: inline-block;
}

.signup-form p {
    display: block;

}

.btn {
    outline: none;
    border: none;
    padding: 1rem;
    border-radius: 5px;
}

.signup-button {
     background: #2496f3;
    color: #fff;
    font-size: 14px;

}

.form-title {
    margin: 0;
    text-align: center;
    background: #2496f3;
    color: #fff;
    padding: 0.5rem;
    font-size: 20px;
    font-weight: 300;
}

.login-title {
    margin-bottom: 1rem;
}

/*Signup form end*/

/*Profile Edit style */

.profile_details input {
    display: block;
    padding: 1rem;
    margin-bottom: 1rem;
    border:1px solid #ccc;
}
.profile_image input {
    padding: 10px;
    width: 100%;
    border:1px solid #ccc;
    margin-bottom: 1rem;
    font-family: inherit;
}
.profile_image label {
    font-size: 20px;
    display: block;
    margin-bottom: 10px;
}
.profile_details select {
    margin-right: 1rem;
    margin-bottom: 1rem;
}
.edit_header {
    background: #2396f3;
    margin: 5px;
    padding: 5px;
    margin-bottom: 1rem;
    color: #fff;
}
.profile_image {
    width: 30%;
    float: left;
    padding: 5px;

}

.profile_details {
    width: 65%;
    float: left;
    margin-left: 4%;
}
.profile_details p label {
    font-size: 18px;
    margin-bottom: 10px;
    font-family: inherit;
    display: block;
}
.profile_image p {
    padding: 5px;
}
.profile_details p textarea {
    height: 130px;
    width: 90%;
    border: 2px solid #2396f38a;
    font-family: inherit;
    font-size: 17px;
    padding: 1rem;
}

/*Project form style */
.set_height {
    min-height: 72.5vh;
}
#myForm {
    width: 700px;
    margin: 50px auto;
    text-align: center;
    position: relative;
}
#myForm fieldset {
    background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 2rem 3rem;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;
    
    /*stacking fieldsets above each other*/
    position: relative;
}
/*Hide all except first fieldset*/
#myForm fieldset:not(:first-of-type) {
    display: none;
}
/*inputs*/
#myForm input, #myForm textarea,#myForm select {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 13px;
}
#myFrom label {
    padding: 10px;
}
#myForm textarea {
        height: 10rem;
        white-space: pre-wrap;
}
/*buttons*/
#myForm .action-button {
    width: 100px;
    background: #27AE60;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}
#myForm .action-button:hover, #myForm .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
/*headings*/
.fs-title {
    font-size: 15px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
}
.fs-sub {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
    padding: 0;
}
#progressbar li {
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    font-size: 13px;
    width: 25%;
    float: left;
    position: relative;
}
#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 20px;
    line-height: 20px;
    display: block;
    font-size: 10px;
    color: #333;
    background: white;
    border-radius: 3px;
    margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
    background: #27AE60;
    color: white;
}

/*project form*/


/*All Projects*/

.project-head-title {
    text-align: center;
    background: #2396f3;
    padding: 1rem;
    margin-top: 0;
    display: -webkit-inline-box;
    color: #fff;
}
.pro-box {
    width: 46%;
    float: left;
    padding: 0.5rem;
    background: #fff;
    margin-right: 1rem;
    margin-bottom: 1rem;
    min-height: 435px;
}
.pro-box button {
        border: none;
    padding: 10px;
    background: #8BC34A;
    color: #fff;
    font-size: 18px;
    border-radius: 3px;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
}
.pro {
    background: transparent;
    padding: 0;
}
.pro-box img {
    width: 100%;
    height: 270px;
}
.pro-box h2 {
    border-bottom: 1px solid #ccc;
}

.btn-section a button {
       border: none;
    padding: 8px;
    border-radius: 1px;
    color: #fff;
    background: #E91E63;
    font-size: 18px;
    margin: 5px;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.3);
}
.trans {
    background: transparent !important;  
}